<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955694184430-4bhdrhpblrvrt7kg07f18e12kvhqhenq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955694184430-4bhdrhpblrvrt7kg07f18e12kvhqhenq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>955694184430-tb1lhg6rsu8o2qfc4nfagmr3ocefeqva.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA_ykMUceUzykBpfRi1-J7p7GYotscaUZo</string>
	<key>GCM_SENDER_ID</key>
	<string>955694184430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>stard.accidentv</string>
	<key>PROJECT_ID</key>
	<string>acciden-tv</string>
	<key>STORAGE_BUCKET</key>
	<string>acciden-tv.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955694184430:ios:edc8f0b6ff8af33256c0ff</string>
	<key>DATABASE_URL</key>
	<string>https://acciden-tv.firebaseio.com</string>
</dict>
</plist>